<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'Order Detail'| translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <h4><b>{{'Shipping Address'|translate}}</b></h4>
    </ion-card-header>
    <ion-card-content>
      {{order.delivery_street_address+', '+order.delivery_city+', '+order.delivery_state+' '+order.delivery_postcode+', '+order.delivery_country}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h4><b>{{'Billing Address'|translate}}</b></h4>
    </ion-card-header>
    <ion-card-content>
      {{order.billing_street_address+', '+order.billing_city+', '+order.billing_state+' '+order.billing_postcode+', '+order.billing_country}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let s of order.shipping_lines">
    <ion-card-header>
      <h4><b>{{'Shipping Method'|translate}}</b></h4>
    </ion-card-header>
    <ion-card-content>
      {{order.shipping_method}}
    </ion-card-content>
  </ion-card>
  <ion-card class="order-product">
    <ion-card-header>
      {{'Products'|translate}}
    </ion-card-header>
    <ion-card-content *ngFor="let product of order.data" (click)="getSingleProductDetail(product.products_id)">
      <ion-row>
        <ion-col>
          <h3>{{product.products_name}}
          </h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-left" size="6">{{'Price' |translate}}&nbsp;:&nbsp;</ion-col>
        <ion-col class="ion-text-right" size="6">{{product.products_price| curency}}</ion-col>
      </ion-row>

      <ion-row *ngFor="let att of product.attributes">
        <ion-col size="6">{{att.products_options_values+'&nbsp;'+att.products_options}}&nbsp;:</ion-col>
        <ion-col size="6">{{att.price_prefix +'&nbsp;'+ att.options_values_price+'&nbsp;'+config.currency}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-left" size="6">{{'Quantity'|translate}}&nbsp;:&nbsp;</ion-col>
        <ion-col class="ion-text-right" size="6">{{product.products_quantity}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-left" size="6">
          <strong>{{'Total' |translate}}</strong>&nbsp;:&nbsp;</ion-col>
        <ion-col class="ion-text-right" size="6">
          <strong>{{product.final_price | curency}}</strong>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      {{'Price Detail'|translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          {{'Shipping'|translate}} {{'Tax'|translate}}
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          {{order.order_price-order.shipping_cost | curency }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{'Shipping'|translate}}
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          {{order.shipping_cost | curency }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{'Total'|translate}}
        </ion-col>
        <ion-col class="ion-text-right" size="6">
          <strong> {{order.order_price | curency}}</strong>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="order.coupons.length!=0">
    <ion-card-header>
      {{'Coupons Applied'|translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          {{'Coupon Code'|translate}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{'Coupon Price'|translate}}
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let c of order.coupons">
        <ion-col size="6">
          {{c.code}}
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          {{c.amount|curency}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="order.customer_comments!=null">
    <ion-card-header>
      {{'Order Notes'|translate}}
    </ion-card-header>
    <ion-card-content>
      {{order.customer_comments}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="order.admin_comments!=''">
    <ion-card-header>
      {{'Admin Notes'|translate}}
    </ion-card-header>
    <ion-card-content>
      {{order.admin_comments}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h4><b>{{'Payment Method'|translate}}</b></h4>
    </ion-card-header>
    <ion-card-content>
      {{order.payment_method}}
    </ion-card-content>
  </ion-card>
  <div class="map-component ion-text-center">
    <!-- <ion-row>
      <ion-text color="danger">
        {{'Press And Hold The Marker To set Location'|translate}}
      </ion-text>
    </ion-row> -->
    <div id="maporder"></div>
  </div>
</ion-content>

<ion-footer *ngIf="order.deliveryboy_info.length!=0">
  <ion-button expand="full" color="secondary" (click)="trackOrder()">
    {{"Track Order"|translate}}
  </ion-button>
</ion-footer>