ion-content {
    ion-card {
        ion-card-header {
            font-size: 20px;
            margin-bottom: 0;
            margin-top: 0;
            color: var(--ion-color-light-contrast);
            background-color: var(--ion-color-light-shade);
            h4 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 18px;
            }
        }
        ion-card-content {
            padding-top: 10px !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
            padding-bottom: 10px !important;
            color: var(--ion-text-color);

            .item {
                background-color: transparent;
            }
        }
    }

    .map-component {
        div {
            width: 100%;
            height: 500px;
        }
    }
}
