// For image design
ion-img {
    height: 150px;
    opacity: 0.1;
}

// For Form
form {
    ion-item {
        --padding-start: 0;
        --background: var(--ion-background-color);
        ion-label {
            color: rgba(var(--ion-text-color-rgb), 0.5);
        }
        &:nth-child(2) {
            height: 33px;
            ion-label {
                color: red;
            }
        }
    }
    ion-button {
        margin-top: 10px;
        text-transform: uppercase;
    }
}
