ion-content {
  ion-card {
    ion-card-content {
      ion-item {
        --inner-padding-end: 0;
        ion-avatar {
          background: #eee;
          ion-icon {
            width: 100%;
            margin-top: 8px;
            color: var(--ion-color-primary);
            zoom: 1.3;
          }
        }
        ion-label {
          p {
            white-space: normal;
            font-size: 14px;
          }
        }
        &:last-child {
          --inner-padding-end: 10px !important;
          --padding-start: 10px !important;
          ion-button {
            --background: #83af8c;
            width: 100%;
          }
        }
      }
    }
  }

  form {
    ion-item {
      --background: var(--ion-background-color);
      ion-label {
        color: rgba(var(--ion-text-color-rgb), 0.5);
      }
      ion-icon {
        margin: auto;
      }
    }
  }
}

#map {
  width: 100%;
  height: 300px;
}
