<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" *ngIf="!config.appNavigationTabs">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'Contact Us'| translate }}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>
  <ion-card class="ion-no-padding">
    <ion-card-content class="ion-no-padding">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-icon name="pin"></ion-icon>
        </ion-avatar>
        <ion-label>
          <p wrap-text>
            {{config.address}}
          </p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-icon name="mail"></ion-icon>
        </ion-avatar>
        <ion-label>
          <p>
            {{config.email}}
          </p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-icon name="call"></ion-icon>
        </ion-avatar>

        <ion-label>
          <p>
            {{config.phoneNo}}
          </p>
        </ion-label>
      </ion-item>

      <form #contactForm="ngForm" (ngSubmit)="submit()">
        <ion-item>
          <ion-label position="floating">{{'Name'|translate}}</ion-label>
          <ion-input type="text" name="name" [(ngModel)]="contact.name" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{'Email'|translate}}</ion-label>
          <ion-input type="email" name="email" [(ngModel)]="contact.email" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{'Your Messsage'|translate}}</ion-label>
          <ion-input type="text" name="message" [(ngModel)]="contact.message" required>
          </ion-input>
        </ion-item>

        <ion-col col-12>
          <label *ngIf="errorMessage!=''">
            <span>{{errorMessage}}</span>
          </label>
        </ion-col>

        <ion-button expand="block" type="submit" [disabled]="!contactForm.form.valid">{{'Send'|translate}}</ion-button>

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>