ion-content{
    ion-item{
        ion-label{
            padding-bottom: 0;
            padding-top: 0;
            h2{
                font-size: var(--heading-font-size);
                font-weight: 400;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: var(--ion-text-color);
            }
            p{
                font-size: var(--sub-heading-font-size);
                color: rgba(var(--ion-text-color-rgb), 0.5);
            }
        }
    }
}