ion-badge {
  min-width: 17px;
  min-height: 17px;
  font-size: 11px;
}

ion-badge {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  border: 1px solid var(--ion-color-primary-contrast);
}
img {
  max-width: 50%;
}
.bag-fix {
  top: 12%;
  left: 55%;
}
