<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="parent.name!='Categories'">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-menu-button slot="start" *ngIf="parent.name=='Categories' && !config.appNavigationTabs">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-title>
      {{parent.name| translate }}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let c of getCategories()" (click)="openSubCategories(c)" class="animate-item">
      <img *ngIf="c.image" src="{{config.imgUrl+c.image}}">
      <div>
        <h2>{{c.name }}</h2>
        <p>{{c.total_products}} {{'Products'| translate }}</p>
      </div>
    </ion-card>
  </ion-list>

  <div class="ion-text-center">
    <ion-button *ngIf="parent.id!=0" icon-end clear color="secondary" (click)="viewAll()">
      {{ 'View All' | translate }}
      <ion-icon name="caret-forward"></ion-icon>
    </ion-button>
  </div>
</ion-content>