ion-content {
  ion-list {
    padding-top: 0;
    padding-bottom: 0;

    ion-card {
      height: 235px;
      img {
        filter: brightness(0.6);
        width: 100%;
      }
      div {
        position: absolute;
        top: 32%;
        text-align: center;
        width: 100%;
        color: white;
        font-weight: bold;
        height: 250px;
        h2 {
          margin-top: 18px;
          font-size: var(--heading-font-size);
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        p {
          font-size: var(--sub-heading-font-size);
          margin-top: 0;
        }
      }
    }
  }
}
