<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'Privacy Policy'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <p [innerHTML]="shared.privacyPolicy">
    </p>
  </ion-text>
</ion-content>