
ion-content {
  .grid {
    margin-top: 50%;
    ion-row {
      ion-col {
        text-align: center;
        ion-icon {
          zoom: 3.9;
          color: lightgrey;
        }
        ion-button {
          --border-radius: 0px;
        }
        h4 {
          font-size: 16px;
          font-weight: bold;
          margin-top: 2px;
          margin-bottom: 6px;
        }
        h5 {
          font-size: 14px;
          color: rgba(var(--ion-text-color-rgb), 0.5);
          margin-top: 0;
        }
      }
    }
  }
  ion-grid {
    ion-card {
      color: var(--ion-text-color);
    }
  }
}

.pending {
  background-color: var(--ion-color-primary);
  color: white;
}
.cancel {
  background-color: red;
  color: white;
  // color: color($colors, danger);
}
.complete {
  background-color: green;
  color: white;
}
.inprocess {
  background-color: green;
  color: white;
}
