<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{post.news_name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="{{config.imgUrl+post.news_image}}"></ion-img>

  <h2>
    <small>
      {{post.created_at|date}}
    </small>
    {{post.news_name}}
  </h2>
  <p [innerHTML]="post.news_description"></p>
</ion-content>