<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" *ngIf="!config.appNavigationTabs">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'News'| translate }}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="news-page">
  <!-- *ngIf="post.image" -->
  <ion-slides pager=true paginationType="bullets" class="animate-item">
    <ion-slide *ngFor="let post of featuredPosts" (click)="showPostDetail(post)">
      <ion-img src="{{config.imgUrl+post.news_image}}" class="animate-item"></ion-img>
    </ion-slide>
  </ion-slides>
  <!-- top Segments  -->
  <ion-segment [(ngModel)]="segments">
    <ion-segment-button value="newest">{{'Newest' |translate}}</ion-segment-button>
    <ion-segment-button value="categories">{{ 'Categories' | translate }} </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segments">

    <div *ngSwitchCase="'newest'">
      <ion-list class="posts-list">
        <ion-item lines="full" *ngFor="let post of posts" (click)="showPostDetail(post)" class="animate-item">
          <ion-thumbnail slot="start">
            <ion-img src="{{config.imgUrl+post.news_image}}"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{post.news_name}}
              <br>
              <small>
                <ion-icon name="time"></ion-icon>
                <ion-label>
                  {{post.created_at|date}}
                </ion-label>
              </small>
            </h2>
            <p [innerHTML]="post.news_description"></p>
          </ion-label>
        </ion-item>
        <ion-infinite-scroll #infinite (ionInfinite)="getPosts()">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-list>
    </div>

    <div *ngSwitchCase="'categories'">
      <ion-list class="categories-list">
        <ion-card *ngFor="let cat of categories" (click)="openPostsPage(cat.name,cat.id)" class="animate-item">
          <img *ngIf="cat.image" src="{{config.imgUrl+cat.image}}">
          <div>
            <h2>{{cat.name }}</h2>
            <p>{{cat.total_news}} {{'Posts'|translate}}</p>
          </div>
        </ion-card>
      </ion-list>
    </div>
  </div>
</ion-content>