<div class="map-component ion-text-center">
  <ion-button (click)="setThisAddress()">
    {{'Set this Location'|translate}}
  </ion-button>
  <ion-row>
    <ion-text color="danger">
      {{'Press And Hold The Marker To set Location'|translate}}
    </ion-text>
  </ion-row>
  <div id="mapcomponent"></div>
</div>