// For image design
ion-img {
  height: 150px;
  opacity: 0.1;
}

// For Form
form {
  padding-top: 28px;
  ion-item {
    --padding-start: 0;
    --background: var(--ion-background-color);
    ion-label {
      color: rgba(var(--ion-text-color-rgb), 0.5);
    }
    &:nth-child(3) {
      height: 33px;
      ion-label {
        color: red;
      }
    }
  }
  ion-button {
    text-transform: uppercase;
  }
}

// For Login, Facebook, Register Buttons
ion-button {
  &:nth-child(3) {
    margin-top: 15px;
  }
  &:nth-child(4) {
    margin-top: 15px;
    --background: #3b5998;
    color: white;
  }
  &:nth-child(5) {
    color: black;
    margin-top: 20px;
    --border-color: black;
    --border-width: thin;
  }
}

.fb-button {
  margin-top: 15px;
  --background: #3b5998;
  color: white;
}
