ion-content {
  ion-item {
    --padding-start: 0;
    ion-thumbnail {
      height: 140px;
      width: 25%;
      margin: 0;
    }
    ion-label {
      h2 {
        color: var(--ion-text-color);
        font-size: var(--heading-font-size);
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        color: rgba(var(--ion-text-color-rgb), 0.5);
        font-size: var(--sub-heading-font-size);
      }
    }
  }
}
