ion-content {
  .swiper-slide {
    width: 40%;
  }
  ion-grid {
    padding-bottom: 10px !important;
    ion-row {
      background: white;
      box-shadow: 0 0 0 2px lightgrey;
      /* border-radius: 10px; */
      border-right: solid var(--ion-background-color);
      ion-col {
        ion-card {
          font-weight: bold;
          text-align: center;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          text-align: center;
          margin: 0;
          border-radius: 0px;
          border: solid var(--ion-background-color);
          box-shadow: 0px 0px 0px 0px var(--ion-background-color);
          border-bottom: 0px;
          border-right: 0px;
          ion-avatar {
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
          }
          h6 {
            font-weight: bold;
            text-align: center;
            margin-bottom: 0;
            font-size: var(--heading-font-size);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          p {
            text-align: center;
            margin-top: 0;
            font-size: var(--sub-heading-font-size);
          }
        }
      }
    }
  }

  ion-slides {
    ion-slide {
      &:last-child {
        height: auto;
      }
    }
  }
}
