ion-content {
    ion-item {
        ion-label {
            padding-bottom: 0;
            padding-top: 0;
            padding-left: 0;
            h2 {
                font-size: 18px;
            }
            p {
                color: rgba(var(--ion-text-color-rgb), 0.5);
            }
        }
    }
}

ion-grid {
    ion-row {
        margin-right: 10px;
    }
}
